html {
  background-color: #c9b5ab;
  color: #222;
  line-height: 1.5;
  font-family: "PT Serif", serif;
  font-weight: normal;
}

h1, h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

nav ol {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

.quote {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

p #bold {
  font-weight: bold;
}
